## Imports

In [20]:
import os
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import datasets

## Load Data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv') #Load data

#### Head

In [4]:
df.head() #Check head

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Tail

In [5]:
df.tail() #Chack tail

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

#### Iris types

In [6]:
print("Iris types: ", df["species"].unique(), sep="\n")

Iris types:
['setosa' 'versicolor' 'virginica']

## Prepossessing

In [7]:
def encode_target(df, target_column): #Add columns to the dataframe with integers for the target
    df_mod = df.copy()
    targets = df_mod[target_column].unique()
    map_to_int = {name: n for n, name in enumerate(targets)}
    df_mod["target"] = df_mod[target_column].replace(map_to_int)
    
    return (df_mod, targets)

In [8]:
df2, targets = encode_target(df, "species")

#### Head

In [9]:
df2[["species","target"]].head()

  species  target
0  setosa       0
1  setosa       0
2  setosa       0
3  setosa       0
4  setosa       0

#### Tail

In [10]:
df2[["species","target"]].tail()

       species  target
145  virginica       2
146  virginica       2
147  virginica       2
148  virginica       2
149  virginica       2

In [11]:
#Getting the features
features = list(df2.columns[:4])
print("Features: ", features, sep="\n")

Features:
['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

## Classifier

In [12]:
y = df2["target"]
x = df2[features]

dt = DecisionTreeClassifier(min_samples_split = 20, random_state = 99)
dt.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=99,
            splitter='best')

In [17]:
export_graphviz(dt, out_file="dt.dot", feature_names=features)